@tailwind base;
@tailwind components;
@tailwind utilities;

.wave {
  display: inline-block;
  animation: wave-animation 2s infinite;
  transform-origin: 70% 70%; /* Adjusts the origin for the rotation */
}
html,
body {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Returns to original position */
  100% {
    transform: rotate(0deg);
  }
}
